body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    height: 100%;
    display: block;

}

.navbar {
    top: 0;
    z-index: 10;
    background-color: rgb(240, 240, 240);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 60px;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}


.nav-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 50%;
    color: #313131;

}

.nav-item+.nav-item {
    margin-left: 0;
}

.nav-item:hover {
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}

.nav-item a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.nav-item a:hover {
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* This will allow it to take up the available space */
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    /* This ensures that this div does not grow and stays on the right */
}

.button-donate,
.button-contact {
    background-color: #67ac46;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    width: 130px;
}

.button-donate:hover,
.button-contact:hover {
    transition: 0.3s;
    background-color: #74c24f;
}

a {
    color: inherit;
    text-decoration: none;
}

.site-footer {
    position: absolute;
    top: 3080px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-left: 20%;
    background-color: #ffffff;
    color: #333;
    width: 60%
}

.footer-logo img {
    display: flex;
    max-width: 100px;
}

.footer-socials img {
    display: flex;
    max-width: 60px;
}

.footer-contact h2,
.footer-socials h2 {
    margin-bottom: 0.5em;
}

.footer-contact p,
.footer-socials a {
    margin-bottom: 0.25em;
}

.footer-socials a {
    display: inline-block;
    margin-right: 10px;
}

.footer-socials a:hover {
    opacity: 0.8;
}

.donate-button {
    width: 175px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #67ac46;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.donate-button:hover {
    transition: 0.3s;
    background-color: #74c24f;
    /* Lighter shade for hover */

}











.about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 213, 181);
    width: 100%;
    height: 300px;
}

/* .about-header h1, p{
    
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

} */

.about-mission {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

.about-mission h2 {
    font-size: 30px;
}

.about-mission p {
    font-size: 22px;
    text-align: left;
}

.top {
    margin-left: 20px;
    margin-right: 20px;
}

.top2 {
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f1b57e;
    border-radius: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.row {
    margin-top: 0px;
    margin-bottom: 30px;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col1 {
    width: 55%;
    margin-left: 20px;
    float: left;
}

.col1 p {
    font-size: 22px;
    text-align: left;
}


.col2 {
    margin-left: 20px;
}

.col2 img {
    width: 35%;
    object-fit: cover;
    height: auto;

}


.divider {
    height: 5px;
    /* Set the height of the line */
    background-color: #ed892c;
    /* Line color */
    margin-top: 10px;
    /* Space above the line */
    margin-bottom: 20px;
    /* Space below the line */
    margin-left: 100px;
    margin-right: 100px;

}

.row2 {
    margin-top: 0px;
    margin-bottom: 30px;

}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.col21 {
    width: 40%;
    margin-left: 20px;
    float: left;
    padding-right: 20px;
}

.col21 img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 300px;
    max-width: 500px;
}

.col22 {
    margin-top: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    /* Adjust the max-width as needed */
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    /* Center the heading */

}

.info-box {
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
    margin-bottom: 20px;
    /* Space between boxes */
}

.green {
    background: #74C24f;
    /* Green color */
    color: white;
    /* White text color */
}

.green-lighter {
    background: #A3C242;
    color: white;
}

.yellow {
    background: #CFD646;
    /* Yellow color */
    color: white;
    /* White text color */
}

.yellow-lighter {
    background: #F8E149;
    color: white;
}

.orange {
    background: #f8bb49;
    color: white;
}

/* Responsive adjustments if needed */
@media (max-width: 1000px) {
    .container {
        width: 95%;
    }
}


.top3 {
    text-align: center;
    margin-left: 20px;
    margin-right: 5px;
}

.about-section {
    padding-bottom: 70px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}