body,
html {
  margin: 0;
  padding: 0;
}

.main {
  height: 500px;
}

@font-face {
  font-family: monserratBlack;
  src:
        url('fonts/MontserratBlack-3zOvZ.woff') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('fonts/MontserratBlack-3zOvZ.ttf') format('truetype');
        /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.logo {
  padding: 0;
  height: 150px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  height: 100%;
  display: block;

}

.navbar {
  top: 0;
  z-index: 10;
  background-color: rgb(240, 240, 240);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 60px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}


.nav-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  margin-left: 50%;
  color: #313131;

}

.nav-item+.nav-item {
  margin-left: 0;
}

.nav-item:hover {
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
}

.nav-item a {
  color: inherit; 
  text-decoration: none; 
  display: block; 
}

.nav-item a:hover {
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
}

.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* This will allow it to take up the available space */
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0;
  /* This ensures that this div does not grow and stays on the right */
}

.button-donate,
.button-contact {
  background-color: #67ac46;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 10px 5px;
  width: 130px;
}

.button-donate:hover,
.button-contact:hover {
  transition: 0.3s;
  background-color: #74c24f;
}

.hero {
  top: -150px;
  position: relative;
  text-align: center;
  color: white;
}

.hero img {
  width: 100%;
  height: 850px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.donate-button {
  width: 125px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #67ac46;
  /* Orange color */
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.donate-button:hover {
  transition: 0.3s;
  background-color: #74c24f;
  /* Lighter shade for hover */

}

.text-block {
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
}

.text-block h2 {
  color: black;
  z-index: 3;
  position: relative;
  font-size: 30px;
  margin-top: 50px;
}

.help-paragraph {
  color: black;
  z-index: 3;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.text-block p {
  color: black;
  z-index: 3;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}



.col1 {
  width: 90%;
  margin-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col2 {
  width: 60%;
  margin-left: 20px;
  float: left;
}


.col3 {
  margin-left: 20px;
}

.col3 img {
  width: 20%;
  object-fit: cover;
  height: auto;

}


.statistics-section {
  background: white; 
  padding: 20px 0;
}

.statistics-section .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statistic-box {
  background: #74c24f; 
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.statistic-box-white {
  background: #ffffff; 
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 200px;
  overflow: hidden;
  margin-top: 25px;
}

.statistic-box-white img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.statistics-section .statistic-box:nth-of-type(1) {
  background: #74C24f; /* Original color */
}

.statistics-section .statistic-box:nth-of-type(2) {
  background: #A3C242; /* lightened */
}

.statistics-section .statistic-box:nth-of-type(3) {
  background: #CFD646; /* lightened */
}

.statistics-section .statistic-box:nth-of-type(4) {
  background: #F8E149; /* lightened */
}


.statistic-box h3 {
  color: black;
}

.statistic-box p {
  color: black;
  text-align: center;

}

.statistics-section p {
  text-align: center;

}



a {
  color: inherit; 
  text-decoration: none; 
}

.site-footer {
  position: absolute;
  top: 2150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
  margin-left: 20%;
  background-color: #ffffff; 
  color: #333; 
  width: 60%

}

.footer-logo img {
  display: flex;
  max-width: 100px; 
}

.footer-socials img {
  display: flex;
  max-width: 60px; 
}

.footer-contact h2,
.footer-socials h2 {
  margin-bottom: 0.5em;
}

.footer-contact p,
.footer-socials a {
  margin-bottom: 0.25em;
}

.footer-socials a {
  display: inline-block;
  margin-right: 10px;
}

.footer-socials a:hover {
  opacity: 0.8; 
}
